html,body{
    height: 100%;
}
body{
    color: bisque;
    background-image: url('./static/Background-Image.jpg');
}
.search-box{
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 150px;
    padding-bottom: 50px;
    
}


#info{
    margin-top: 50px;
    margin-left: 3%;
    margin-right: 3%;
    /* margin: 50px; */
}
.card-text-box{
    height: 100px;
}
.card-text-box-centra{
    margin-top: 50%;
}
