<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 新 Bootstrap4 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <!-- bootstrap.bundle.min.js 用于弹窗、提示、下拉菜单，包含了 popper.min.js -->
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>

    <!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='./index.css') }}">
    <title>Document</title>
</head>

<body style="text-align: center;">
    <div class=".container">
        <div class="row">
            <div class="col-12 top-backgroud">
                <div class="image-recognition">
                    <button>123</button>

                </div>
            </div>
        </div>
        <div id="info">
            {% for row in image_lists %}
            <div class="row">
                {% for card in row %}
                <div class="col-md-3">
                    <div class="card mb-3 shadow-sm" style="cursor: pointer">
                        <img class="card-img-top" src="{{card.path}}">

                        <div class="card-body card-click">
                            <p class="card-text">{{card.name}}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>

<script>
    $(document).ready(function(){
        $(".card").click(function(){
            var name = $(this).find('p').text()
            console.log(name)
            // 与后端通信，展示所点击图片的文档pdf
            $.ajax({
                url:"./diseases",
                data:{'name':name},
                success:function(){
                    window.open("/diseases?name="+name)
                }
            })
        })
    })
</script>
</body>

</html>